*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/black-twill.png');
  background-color: #202225;
  color: #dcddde;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none !important;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

button:focus {
  box-shadow: none !important;
}

/* Utils */

.bg-black {
  background-color: #000;
}
.bg-main {
  background-color: #2a2f32;
}

.bg-selected {
  background-color: #292b2f;
}
.teal {
  color: #009688;
}

.border-teal {
  border-color: #009688 !important;
}
/* custom */

.loading {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.dashboard {
  max-width: 100%;
  min-height: 100%;
  height: 100vh;
  margin: 0;
}

/*Avatar*/

.avatar-animation-open {
  animation: avatar-open 1.2s linear forwards;
}

@keyframes avatar-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*SideBar*/

.sidebar {
  width: 30%;
  background-color: #131c21;
}

.sidebar-nav {
  padding: 10px 16px;
  height: 59px;
  background-color: #2a2f32;
}

/*Sidebar menu*/
.menu {
  height: 40px;
  width: 40px;
}

.menu:focus {
  background-color: #262a2d;
}

.dropdown-item:hover {
  background-color: #20272b !important;
}

/*Profile*/

.profile {
  position: absolute;
  z-index: 10;
  width: 30%;
  left: -100%;
  background-color: #323739;
  color: white;
  height: 100%;
}

.profile-animation-open {
  animation: profile-open 0.5s ease-out forwards;
}

.profile-animation-close {
  animation: profile-close 0.5s ease-in forwards;
}

.profile-inner {
  width: 100%;
  background-color: #131c21;
  height: 100%;
}

.profile-avatar:hover > div {
  cursor: pointer;
  animation: profile-hover-fade-in 0.3s ease-in forwards;
  filter: brightness(1);
}
.profile-avatar p {
  filter: opacity(0);
}

.profile-avatar:hover > p {
  animation: profile-hover-text 0.3s ease-in forwards;
}

.profile-avatar-upload {
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 200px;
}

.profile-avatar-upload:hover {
  cursor: pointer;
}

/* Profile animation*/

@keyframes profile-hover-fade-in {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.4);
  }
}

@keyframes profile-hover-text {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes profile-open {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes profile-close {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@media (min-width: 600px) {
  .account {
    margin: 0 15% 0 15%;
  }
}

@media (min-width: 991px) {
  .account-input {
    width: 50% !important;
  }
}

@media (min-width: 576px) {
  .account-btn {
    width: 30% !important;
  }
}
@media (max-width: 1290px) {
  .sidebar,
  .profile {
    width: 35%;
  }
}

@media (max-width: 1000px) {
  .sidebar,
  .profile {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .sidebar,
  .profile {
    width: 100%;
  }
  .chat-desktop {
    display: none;
  }
}
