* {
  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 100%, 0.16) transparent;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #394145;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  background-color: #202225;
  color: #d4d5d7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  outline: none !important;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.secondary {
  color: rgba(241, 241, 242, 0.63) !important;
}

button:focus {
  box-shadow: none !important;
}

/* Utils */

.bg-black {
  background-color: #000;
}
.bg-main {
  background-color: #2a2f32;
}

.bg-main-dark {
  background-color: #131c21;
}

.bg-selected {
  background-color: #292b2f;
}
.teal {
  color: #009688;
}

.border-teal {
  border-color: #009688 !important;
}

.bg-teal {
  background-color: #009688;
}

.teal-hover:hover {
  background-color: #013833;
}
/* custom */

.loading {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.dashboard {
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}
/*Avatar*/

.avatar-animation-open {
  animation: avatar-open 1.2s linear forwards;
}

@keyframes avatar-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*SideBar*/

.sidebar {
  width: 30%;
  background-color: #131c21;
}

.sidebar-nav {
  padding: 10px 16px;
  height: 59px;
  background-color: #2a2f32;
}

/*Sidebar menu*/
.menu {
  height: 40px;
  width: 40px;
}

.menu:focus {
  background-color: #262a2d;
}

.dropdown-item:hover {
  background-color: #20272b !important;
}
.underline:hover {
  text-decoration: underline;
}

/*Profile*/

.profile {
  position: absolute;
  z-index: 1000;
  width: 30%;
  left: -100%;
  background-color: #323739;
  color: white;
  max-height: 100vh;
  height: 100vh;
}

.profile-animation-open {
  animation: profile-open 0.5s ease-out forwards;
}

.profile-animation-close {
  animation: profile-close 0.5s ease-in forwards;
}

.profile-inner {
  width: 100%;
  background-color: #131c21;
  height: 611.6px;
}

.profile-avatar:hover > div {
  cursor: pointer;
  animation: profile-hover-fade-in 0.3s ease-in forwards;
  filter: brightness(1);
}
.profile-avatar p {
  filter: opacity(0);
}

.profile-avatar:hover > p {
  animation: profile-hover-text 0.3s ease-in forwards;
}

.profile-avatar-upload {
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 200px;
}

.profile-avatar-upload:hover {
  cursor: pointer;
}

.btn-profile {
  height: 40px;
  width: 40px;
}

/* Profile animation*/

@keyframes profile-hover-fade-in {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.4);
  }
}

@keyframes profile-hover-text {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes profile-open {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes profile-close {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@media (min-width: 600px) {
  .account {
    margin: 0 15% 0 15%;
  }
}

@media (min-width: 991px) {
  .account-input {
    width: 50% !important;
  }
}

@media (min-width: 576px) {
  .account-btn {
    width: 30% !important;
  }
}
@media (max-width: 1290px) {
  .sidebar,
  .profile {
    width: 35%;
  }
  .chat-desktop,
  .chat-desktop-default,
  .chatroom-nav {
    width: 65% !important;
  }
}

@media (max-width: 1000px) {
  .sidebar,
  .profile {
    width: 40%;
  }
  .chat-desktop,
  .chat-desktop-default,
  .chatroom-nav {
    width: 60% !important;
  }
}
@media (max-width: 800px) {
  .sidebar,
  .profile {
    width: 100%;
  }
  .chat-desktop,
  .chat-desktop-default {
    display: none;
  }
  .chatroom-nav {
    width: 100% !important;
  }
}

/*Search input rooms*/

.bg-input {
  background-color: #33383b;
}
.search {
  width: 20% !important;
}

.rooms {
  height: 606.6px;
}

.sidebar-room-image {
  width: 73px;
  padding: 0 15px 0 13px;
  height: 77px;
  line-height: 77px;
}

.sidebar-room:hover {
  cursor: pointer;
  background-color: #323739;
}

.sidebar-room-info {
  padding-right: 15px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
}

.sidebar-room-info-top {
  display: flex;
  align-items: center;
  line-height: normal;
}

.sidebar-room-title {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(241, 241, 242, 0.92);
  font-size: 17px;
  font-weight: 400;
}

.sidebar-room-time {
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: none;
  max-width: 100%;
  font-size: 12px;
}

.sidebar-room-message {
  display: flex;
  align-items: flex-start;
  min-height: 20px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 2px;
}

.sidebar-room-user {
  display: inline-block;
}

.sidebar-room-text {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Chat Room*/
.chat-mobile {
  background-color: #0d1418;
  width: 100%;
  height: 100%;
  position: relative;
}
.chat-desktop {
  background-color: #0d1418;
  width: 70%;
  height: 100%;
  position: relative;
}
.chat-desktop-default {
  background: #262d31;
  width: 70%;
  height: 100%;
  position: relative;
}
.wave {
  position: absolute;
  bottom: 0;
  min-height: 150px;
  z-index: 100;
}
.wave2 {
  opacity: 0.7;
  bottom: 10px;
  z-index: 98;
}
.wave3 {
  opacity: 0.5;
  bottom: 20px;
  z-index: 97;
}

.wave4 {
  opacity: 0.3;
  bottom: 30px;
  z-index: 96;
}
.chat-room-default-content {
  position: absolute;
}
.chatroom-nav {
  padding: 10px 16px;
  height: 59px;
  background-color: #2a2f32;

  position: fixed;
  top: 0;
  width: 70%;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(var(0, 0, 0, 0.4));
}

.chatroom-nav-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
}

.chatroom-nav-title {
  display: flex;
  align-items: flex-start;
  line-height: normal;
}

.chatroom-nav-message {
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
}

.chatroom-nav-text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 100%;
}
/*Chatroom messages*/
.chatroom-container {
  position: absolute;
  z-index: 1;
  top: 10%;
  width: 100%;
  height: 80%;
  overflow: scroll;
  padding: 0 7%;
}

.chatroom-message {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  width: fit-content;
  max-width: 75%;
  min-width: 15%;
  margin-right: auto;
  background-color: #262d31;
  color: white;
  border-radius: 7.5px;
}
.chatroom-message-user {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  width: fit-content;
  max-width: 75%;
  min-width: 15%;
  background-color: #056162;
  margin-left: auto;
  color: white;
  border-radius: 7.5px;
}

.chatroom-message-time {
  height: 15px;
  font-size: 11px;
  line-height: 15px;
  color: rgba(241, 241, 242, 0.63);
  white-space: nowrap;
}

/*Chatroom footer*/
.chatroom-footer {
  padding: 10px 16px;
  height: 59px;
  background-color: #1e2428;

  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(var(0, 0, 0, 0.4));
}

/*chatroom day indicator*/
.chatroom-day-indicator {
  background-color: #1e2a30;

  height: 32px;
  text-align: center;
  border-radius: 7.5px;
  margin-bottom: 12px;
  font-size: small;
  line-height: 32px;
  vertical-align: middle;
}

/* room profile members context menu*/
.react-contextmenu {
  z-index: 200;
}

.react-contextmenu .react-contextmenu-item:hover {
  background: #d9d9d9;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #323739;
}

.react-contextmenu-wrapper {
  display: inline;
}

.react-contextmenu .react-contextmenu-item {
  font-size: 14px;
  display: inline;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  position: relative;
  width: 150px;

  align-items: center;
  outline: none;
}

.react-contextmenu-item p {
  margin-left: 10px;
}
.react-contextmenu-item svg {
  font-size: 14px;
}
